<div th:fragment="sidebarcoy">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h4>Parking Reimbursement</h4>
        </div>
        <!--User-->
        <ul class="list-unstyled components">

            <li>
                <a class="nav-link" href="/dashboardAdmin">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Dashboard</span></a>
            </li>
            <li>
                <a class="nav-link" href="vehicle">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Add Vehicle</span></a>
            </li>
            <li>
                <a class="nav-link" href="/requestreimbursement">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Request Reimbursement</span></a>
            </li>

            <li>
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>History Reimbursement</span></a>
            </li>

        </ul>

        <!--Admin-->
        <ul class="list-unstyled components">

            <li>
                <a class="nav-link" href="/dashboardAdmin">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Dashboard</span></a>
            </li>
            <li>
                <a class="nav-link" href="vehicle">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Add Vehicle</span></a>
            </li>
            <li>
                <a class="nav-link" href="/requestreimbursement">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Request Reimbursement</span></a>
            </li>

            <li>
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>History Reimbursement</span></a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>List of Request</span></a>
            </li>
         
            <li>
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Manage Account</span></a>
            </li>


        </ul>

        <!--Super Admin-->
        <ul class="list-unstyled components">

            <li>
                <a class="nav-link" href="/dashboardAdmin">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Dashboard</span></a>
            </li>
            <li>
                <a class="nav-link" href="vehicle">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Add Vehicle</span></a>
            </li>
            <li>
                <a class="nav-link" href="/requestreimbursement">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Request Reimbursement</span></a>
            </li>

            <li>
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>History Reimbursement</span></a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>List of Request</span></a>
            </li>
         
            <li>
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Manage Account</span></a>
            </li>


        </ul>
    </nav>
</div>